p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: bold;
	font-size: 30px;
}
body {
	background-image: url('../images/indexbackground.jpg');
	background-attachment: fixed;
	background-size: cover;
}
a.link {
	color: rgb(182, 138, 26);
	text-decoration: none;
}
a.link:visited {
	color: goldenrod;
}